@use 'sass:map';
@use './resets';
@import './variables';


@function time($duration) {
    @return map-get($animation-duration, $duration);
}


@mixin flexCenter {
    display:flex;
    justify-content: center;
    align-items:center;
}

@mixin stripLayout {
    height: $height;
    text-align:$text-align;
}

body {
  margin: 10px 0 0 0;
}

h1 {
  font-size: $font-size;
  font-weight: 300;
  color: $text-color;
  font-family: $font-main;
}

/* strips */
.strips {
  @include stripLayout;
  width: 100vw;
  overflow: hidden;
  display: flex;
  cursor: pointer;

    .strip {
    @include flexCenter;
    @include stripLayout;
    position: relative;
    width: 19.9vw;
    margin: 0.1vw;
    overflow: hidden;

        .strip_content {
        @include flexCenter;
        @include stripLayout;
        position: absolute;
        width: 100%;
        }
    }
/* before */
   .strip_content {
		&:before {
			content: "";
			@include flexCenter;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 20vw;
			height: $height;
			background: $text-color;
			opacity: 0.05;
			-webkit-transform-origin: center center;
			transform-origin: center center;
			-webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
			transform: skew(30deg) scaleY(1) translate(0, 0);
			transition: all 0.6s $bezier;
			overflow: hidden;
		}
		&:hover {
			&:before {
				-webkit-transform: skew(0deg) scaleX(2) translate(0, 0);
				transform: skew(0deg) scaleX(2) translate(0, 0);
				opacity: 0.2;
			}
		}
	}
}

@for $i from 1 through 5 {
  .strip {
        &:nth-child( #{$i} ) {
            .strip_content {
            animation-timing-function: $bezier;
            }
          }
        }
      }


/* strips 1-5: nth-child 1-5 */
.strip {

        &:nth-child(1) {
          .strip_content {
          background-color: $color-1;
          animation-name: strip--u4rx9pe;
          animation-duration: time(stripe-1);
          }
     }

        &:nth-child(2) {
          .strip_content {
          background-color: $color-2;
          animation-name: strip--u4rx9pg;
          animation-duration: time(stripe-2);
          }
    }

        &:nth-child(3) {
          .strip_content {
          background-color: $color-3;
          animation-name: strip--u4rx9q8;
          animation-duration: time(stripe-3);
          }
    }

        &:nth-child(4) {
          .strip_content {
          background-color: $color-4;
          animation-name: strip--u4rx9qn;
          animation-duration: time(stripe-4);
          }
    }

        &:nth-child(5) {
          .strip_content {
          background-color: $color-5;
          animation-name: strip--u4rx9r0;
          animation-duration: time(stripe-5);
        }
    }
  }


@keyframes strip--u4rx9pe {
	from {
		transform: translate3d(-100%, 0, 0);
	}
}
@keyframes strip--u4rx9pg {
	from {
		transform: translate3d(0, 100%, 0);
	}
}
@keyframes strip--u4rx9q8 {
	from {
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes strip--u4rx9qn {
	from {
		transform: translate3d(0, 100%, 0);
	}
}
@keyframes strip--u4rx9r0 {
	from {
		transform: translate3d(100%, 0, 0);
	}
}
